  {{#if hasPrice}}
    <strong>€<span class='pricing-box-text'>{{price}}</span><span class='decimal-price' style='font-size: 13px'>.00</span></strong>
  {{else}}
    <span class='pricing-box-text'>_</span>
  {{/if}}
