$light-grey: #888888;
$dark-grey: #333333;
$per-adult: #9b9b9b;
$italo-red: #b11e08;
$trenitalia-blue: #006367;

$small-font: HelveticaNeue;
$price-font: Oswald-Regular, Helvetica,Arial,sans-serif;

@import 'buttons';
@import 'trip-graph';
@import 'pricing-boxes';
@import 'camel-price';
@import 'route-display';
@import 'checkout';

.agency-logo {
  width: 95px;
	height: 23px;
}

.hidden {
  display: none;
}
