.pricing-box {
  border: 0px;
  width: 80px;
  height: 40px;
  background-color: #ececec;
  text-align: center;
}

.pricing-box-text {
  font-size: 19px;
  line-height: 19px;
}

.selected-box {
  border: 1px solid #89b655;
  width: 80px;
  height: 40px;
  background-color: #c4f291;
  text-align: center;
}
